/* IDs */
#icon{
    margin-left: 1.5%;
    width: 5%;
    height: 5%;
}

#dado{
    position: fixed; 
    bottom: 0; 
    right: 0;
}

#fundo{
    background-color: rgb(170, 34, 34);
}



/* -----------END--------------*/



/* Classes */
.color_nav{
 background-color: rgb(139, 9, 9);
}
.color_fot{
 margin-top: 5%;
 padding: 10px;
 background-color: rgb(139, 9, 9);
 color: black;
}

.mesa{
  border-radius: 10%;
  max-width: 100%;
  height: 350px;
}

.text{
    color: black;
    font-size: x-large;
    text-align: justify;
}

.char{
  border-radius: 30%;
  max-width: 100%;
  height: 600px;
}

.afast{
  text-align: center;
}

.atrib{
    font-size: 18 px;
    border-radius: 8 px;
    color: black;
    background-color: red;
}

.form-floating{
        background-color: red;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
      }

.form-control:disabled {
  background-color: rgb(62, 64, 77) !important;
  color: white !important;
  border: 1px solid #888 !important;
        }
